<ul>
  <li><span style="font-weight: bold;"><%= l(:text_anyone) %></span></li>

  <% if @issue %>
  <li>
    <span style="font-weight: bold;"><%= l(:field_issue) %> <%= l(:field_author) %></span> - 
    <span class="field"><%= h @issue.author.login %></span>
    <span class="informal"> (<%= h(@issue.author.name(:lastname_coma_firstname)) %>)</span>
  </li>
  <% if @issue.assigned_to %>
  <li>
    <span style="font-weight: bold;"><%= l(:field_issue) %> <%= l(:field_assigned_to) %></span> -
    <span class="field"><%= h @issue.assigned_to.login %></span>
    <span class="informal"> (<%= h(@issue.assigned_to.name(:lastname_coma_firstname)) %>)</span>
  </li>
  <% end %>
  <% end %>

  <% @users.each do |user| -%>
  <li><span class="field"><%= h user.login %></span><span class="informal"> (<%= h(user.name(:lastname_coma_firstname)) %>)</span></li>
  <% end -%>
</ul>
