<h1><%= l(:text_answer) %></h1>
<%= textilizable(@journal, :notes, :only_path => false) %>

<h1><%= l(:text_question) %></h1>
<%= textilizable(@question.journal, :notes, :only_path => false) %>

<ul>
<% for detail in @journal.details %>
    <li><%= show_detail(detail, true) %></li>
<% end %>
</ul>

<hr />
<%= render :partial => "mailer/issue", :locals => { :issue => @issue, :issue_url => @issue_url } %>
